# Variables sensibles

venv/

.env

# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers de données brutes 
*.csv
*.parquet

# Fichiers générés 

.DS_Store
*.log

#autres

pandas_gx_checkpoint.py
gx_ok_checkpoint.py

# Dossiers à ignorer 
.vscode/
grafana/
logs/
schema/